/* 主页index.html的样式表 */

/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度 因为有行高撑起，这个高度可不设置*/
    height: 40px;
    /* 设置行高 方便文字垂直居中 */
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333;
}

/* 设置超链接的颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    /* 设置为块元素，否则只有字体部分可点 */
    display: block;
}

/* 设置超链接移入的效果 */
.topbar a:hover{
    color: #fff;
}

/* 设置中间分割线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
    margin-top: 1px;
}

/* 设置左侧导航栏 */
.service, .topbar li{
    float: left;
}

.app{
    /*方便给absolute做参考物*/
    position: relative;
}
/* 设置app下的小三角 */
/* .app-wrapper:hover > .app::after{ */
.app::after{
    content: '';
    display: none;
    /* 设置绝对定位 */
    position: absolute;
    width: 0;
    height: 0;
    /* 设置四个方向的边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

/*第二种写法*/
.app:hover .qrcode,
.app:hover::after{
    display: block;
    /*用height0隐藏 再赋值height让他显示，这种方式方便添加动画效果*/
    height: 148px;
}

/* .app-wrapper:hover>.app .qrcode{
    display: block;

} */
/* 设置下载app的下拉 */
.app .qrcode{
    /* display: none; */
    position: absolute;
    left: -40px;
    width: 124px;
    /* height: 148px; */
    /*高度为0 配合overflow hidden进行隐藏*/
    height: 0;
    overflow: hidden;

    /* margin-left: -62px; */
    line-height: 1;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

    /* transition: 用于为样式设置过渡效果(高度的变化) */
    transition: height 0.3s;

    z-index: 9999;
}

/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}

/* 设置二维码中的文字 */
.app .qrcode span{
    font-size: 14px;
    color: #000;
}


/* 设置右侧导航栏 */
.shop-cart, .user-info{
    float: right;
}

.shop-cart{
    margin-left: 26px;
    z-index: 32;
}

/* 设置购物车的样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a{
    background-color: #fff;
    color: #FF6700;
}


/* 设置小车图标 */
.shop-cart i{
    margin-right: 2px;
}

.shop-cart .carts-list{
    width: 316px;

    height: 0;
    overflow: hidden;
    /* background-color: #fff; */
    background-color: #fff;
    position: absolute;
    right: 155px;
    transition: height 0.3s;

    box-shadow:  0 0 10px rgba(0,0,0,.3);
    z-index: -1;
}

.shop-cart:hover .carts-list,
.shop-cart:hover::after{
    display: block;
    height: 100px;
}

.shop-cart .carts-list p {
    color: #000;
    text-align: center;
}

/*设置中间的header*/
.header {
    height: 100px;
    background-color: #bfa;
}
/*设置logo的H1*/
.header .logo{
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    /*为a设置参考物*/
    position: relative;
    /*溢出的隐藏*/
    overflow: hidden;
    /*首行缩进，用来隐藏logo中的文字，文字是为了方便浏览器搜索到该网站*/
    text-indent: -99999px;
}
/*统一设置logo的超链接*/
.header .logo a{
    /*绝对定位*/
    position: absolute;
    background-color: #ff6700;
    width: 55px;
    height: 55px;
    /*display: inline-block;*/
    background-image: url(../img/logo-mi2.png);
    background-position: center;

    /*设置大小 否则图片太大*/
    background-size: 55px;

    transition: left 0.3s;
    /*设置具体值 方便计算显示动画效果*/
    left: 0;
}
/*设置home图片*/
.header .logo .home {
    background-image: url(../img/logo-mi2.png);
    /*防止重叠 左移一下*/
    left: -55px;
}
/*设置鼠标移入以后两个图片的位置变化*/
.header .logo:hover .mi {
    left: 55px;
}
.header .logo:hover .home {
    left: 0;
}
